streamlit==1.45.1
pandas
numpy
opencv-contrib-python
mahotas
scikit-image
py7zr
Pillow
seaborn
plotly
imageio
umap-learn==0.5.4
numba==0.55.2
llvmlite==0.38.0
scikit-learn
matplotlib
opencv-python
pyarrow
requests
