streamlit==1.45.1
pandas
numpy==1.23.5
opencv-contrib-python
mahotas
scikit-image
py7zr
Pillow
seaborn
plotly
imageio
umap-learn==0.5.4
numba==0.56.4
llvmlite==0.39.1
scikit-learn
matplotlib
opencv-python
pyarrow
requests
